@import './base.css';

:root {
  --color-red: rgba(215, 60, 60);

  --filter-hovered: brightness(0.5);

  --color-border: var(--color-background-soft);
  --border-style: solid;
  --border-thickness: 2px;
  --border-radius: 2px;

  --header-height: clamp(5em, 2vw, 4em);
}

header {
  height: var(--header-height);
}

main {
  padding-top: var(--header-height);
  margin-top: 10px;
}

#app {
  margin: 0 auto;
  padding: 1em;
  font-weight: normal;

  color: var(--color-text);
  background: var(--color-background);
}

input {
  color: var(--color-text);
  background: var(--color-background);
}
